{% extends 'base.html' %}

{% load static %}

{% block title %}
Register | Code Scanner
{% endblock title %}


{% block content %}
<div id="wrapper" class="clearfix">

    <header id="header">
        <div class="header-wrap-clone"></div>
    </header>

    <section id="slider" class="slider-element min-vh-100 include-header"
             style="background-image: url('{% static 'Scanner/images/3.jpg' %}');background-position: 50% 0;background-size:cover;">
        <div class="slider-inner">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-lg-5 col-sm-7 col-10">
                        <form id="coming-soon-registration" class="mb-0" method="post">
                            {% csrf_token %}
                            <div class="form-process"></div>
                            <div class="row form-section px-4 py-5 bg-white rounded shadow-lg">
                                <div class="text-center"><h2>Registration Form</h2></div>
                                <div class="col-12 form-group">
                                    <label>Full Name</label>
                                    <input type="text" name="full_name" id="landing-enquiry-name"
                                           class="form-control form-control-lg required"
                                           placeholder="John Doe">
                                </div>
                                <div class="col-6 form-group">
                                    <label>Email</label>
                                    <input type="email" name="email" id="landing-enquiry-email"
                                           class="form-control form-control-lg required"
                                           placeholder="user@company.com">
                                </div>
                                <div class="col-6 form-group">
                                    <label>Phone No</label>
                                    <input type="tel" name="phone_no" id="landing-enquiry-phone"
                                           class="form-control form-control-lg required">
                                </div>
                                <div class="col-12 form-group">
                                      <label>Username</label>
                                      <input type="text" name="username"
                                             class="form-control form-control-lg required"
                                             placeholder="demouser">
                                  </div>
                                <div class="col-6 form-group">
                                      <label>Password</label>
                                      <input type="password" name="password"
                                             class="form-control form-control-lg required">
                                  </div>
                                <div class="col-6 form-group">
                                      <label>Confirm Password</label>
                                      <input type="password" name="password2"
                                             class="form-control form-control-lg required">
                                  </div>
                                <div class="col-12">
                                    <button type="submit" name="landing-enquiry-submit"
                                            class="btn w-100 text-white bg-color rounded-3 py-3 fw-semibold text-uppercase mt-2">
                                        Submit
                                    </button>
                                </div>
                                <div class="text-center mt-3">
                                    <small>Already have an account?
                                        <a class="link" href="{% url 'Scanner:login' %}">Login</a>
                                    </small>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="content-wrap p-0">
        </div>
    </section>
</div>

{% endblock content %}

